:root{
    --greenl: #bed1c3;
    --greenm: #a1bda9;
    --greenmm: #689474;
    --greend: #54775d;
}
body{
    font-family: 'Marcellus', serif;
    max-width: 99%;
    overflow-x: hidden;
}
img {
    width: 200px;
    height: 215px;
    float: left;
    padding: 0 400px 0 0;
}
.start{
    width: 100%;
    height: 100%;
    margin-left: 0%;
    background: var(--greenmm);
    margin-top: 35px;
    padding-bottom: 10px;
    justify-content: left;
    font-size: 30px;
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: var(--greend);
    overflow: hidden;
}
nav a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 4px 10px;
    text-decoration: none;
    width: calc(100% / 5.7);
  }
nav a:hover {
    background-color: #f5f5ec;
    color: black;
  }
.layout{
    width:100%;
    height: 100%;
}
#About{
    background-color: var(--greenl);
    width: 100%;
    margin-left: 0%;
}
#papers {
    display: inline-block;
    align-items: left;
    display: inline-block;
    list-style: none;
    height:auto;
    margin-left: 0%;
    width: 100%;
    background-color: var(--greend);
    justify-content: space-around;
  }
  div {
    display: inline-block;
    background-color: var(--greenm);
    margin-left: 10px;
    margin-top: 10px;
    padding : 10px;
  }
  
  h2 {
    font-size: 24px;
    font-weight: bold;
  }
  
  p {
    font-size: 16px;
    line-height: 1.5;
  }

#Experiences{
    height: auto;
    background-color: var(--greenl);
    line-height: 26px;
    width: 100%;
    margin-left: 0%;
}
#Hobbies{
    height:auto;
    background-color: var(--greenm);
    width: 100%;
    margin-left: 0%;

}
#Blogs{
    height:auto;
    line-height: 35px;
    width: 100%;
    margin-left: 0%;
}

.row{
    display:flex;
    flex-direction: row;
}

.column {
    display:flex;
    flex-direction: column;
    width:30%;
  }

@media screen and (max-width:1500px){
    html,body{
        overflow-x: hidden;
    }
    .About{
        width:100%;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        position:  absolute;

    }
    .Papers{
        width:100%;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        position:  absolute;
        
    }
    nav{
        overflow: hidden;
    }
    .Experiences{
        width:100%;
        height:auto;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        position:  absolute;
        
    }
    .Hobbies{
        width:100%;
        height:auto;
        justify-content:space-around;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        position:  absolute;
        
    }
    .Blogs{
        width:100%;
        height:auto;
        overflow: hidden;
        margin: 0px;
        padding: 0px;
        position:  absolute;
        
    }
   
}
